---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Tentangku"
	description="Tentang penulis artikel di catatan programmer"
	pubDate={new Date('2023-04-14')}
	updatedDate={new Date('2023-04-14')}
>
	<p>
		Hallo, Selamat pagi, siang, sore, malam, untuk kalian yang sedang membaca ini. Salam kenal saya <b>Budiyono</b>. Saya seorang programmer..., mungkin bisa disebut seperti itu. Saya penulis satu-satunya di blog ini, founder sekaligus owner dari catatan programer.
	</p>
	<p>
		Yang ingin lebih tau tentang saya, atau mau tanya, ngobrol atau lainnya, bisa langsung email ke <code>budiyono.dev@gmail.com</code>, atau <a href="https://www.instagram.com/budiyono096/" target="_blank">Instagram</a>
	</p>
</Layout>
